PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/<db-name>?retryWrites=true&w=majority
JWT_SECRET=ott-super-secret
DEFAULT_ADMIN_EMAIL=admin@ott.com
DEFAULT_ADMIN_PASSWORD=Admin@123
